.my_res_btn_bar {
 border: 0px solid;
 float: right;
 margin: 18px 0px 18px 0px !important;
 cursor: pointer;
 width: 32px;
 height: auto;
 padding: 8px 7px 6px 7px;
 border-radius: 4px;
 display: none;
}
.my_res_btn_bar .btn_open, .my_res_btn_bar .btn_close {
 display:block;
 height: 20px;
 overflow: hidden;
}
.my_res_btn_bar .btn_open span, .my_res_btn_bar .btn_close span {
 width:100%;
 height:2px;
 display:block;
 margin-bottom:5px;
 background:#000;
 -webkit-transition: all 0.2s ease-out;
 -moz-transition: all 0.2s ease-out;
 -ms-transition: all 0.2s ease-out;
 -o-transition: all 0.2s ease-out;
 transition: all 0.2s ease-out;
}
 .my_res_btn_bar .btn_close span:nth-child(1) {
 -ms-transform: rotate(45deg);
 -webkit-transform: rotate(45deg);
 transform: rotate(45deg);
 margin-top:7px;
}
 .my_res_btn_bar .btn_close span:nth-child(3) {
 -ms-transform: rotate(-45deg);
 -webkit-transform: rotate(-45deg);
 transform: rotate(-45deg);
 margin-top:-7px;
}
/*res nav container*/ 
.my_res_nav_col {
 background: #fff;
 left: -300px;
 height: 100%;
 position: fixed;
 width: 220px;
 z-index:9999999;
 overflow:auto;
 padding:10px;
 border-right:1px solid #eee;
}
/**/
.my_res_nav_col ul {
 list-style: none;
 padding: 0px;
 margin: 0px;
}
.my_res_nav_col li {
 background: none;
 position: relative;
 z-index: 999;
 margin: 0 0px;
}
.my_res_nav_col > li:first-child > a {
 border-top:1px solid #ccc;
}
.my_res_nav_col li a {
 display: block;
 padding: 0;
 text-decoration: none;
 color: #333!important;
 zoom: 1;
 padding: 10px 10px;
 border-bottom:1px solid #eee;
 text-transform: capitalize;
 font-size: 13px;
 -webkit-transition: all 0.4s ease-out;
 -moz-transition: all 0.4s ease-out;
 -ms-transition: all 0.4s ease-out;
 -o-transition: all 0.4s ease-out;
 cursor:pointer
}
/**/
.my_res_nav_col li a.has-nav, .my_res_nav_col li a.less-nav {
 position:relative;
}
.my_res_nav_col li a.has-nav:after, .my_res_nav_col li a.less-nav:after {
 position:absolute;
 right:15px;
 top:0px;
 bottom:0px;
 padding-top:11px;
 padding-left:10px;
 content: "\f105   ";
 font: normal normal normal 15px/1 FontAwesome;
 color:#333;
}
.my_res_nav_col li a.less-nav:after {
 content: "\f107        ";
}
/**/ 
.my_res_nav_col li a:hover {
 color: #509932 !important;
}
/**/
.my_res_nav_col ul li ul {
 display:none;
}
.my_res_nav_col ul li ul li a {
 padding-left:20px!important;
 border:0;
}
.my_res_nav_col ul li ul li a:before {
 content:'';
}
 @media only screen and (min-width:320px) and (max-width:767px) {
 .my_res_btn_bar {
 display:block
}
}
@media only screen and (min-width:768px) and (max-width:991px) {
}
 @media only screen and (min-width:992px) and (max-width:1199px) {
}
